
p{
  font-family: 'Dosis', sans-serif;
  text-align: center;
  font-weight: normal;
  color: #fff;
  font-size: 15pt;
  padding: 0;
  margin: auto;
  padding: 0.1em;
}
p a{
  color:#FF9191;
  font-weight: bold;
}
body {
  background-color: #fff;
}
a {
  text-decoration: none;
  color: #fff;
}
.displayed {
  float:left;
  width: 300px;
}
#nav li{
  list-style: none;
  float: right;
  margin:30px 0;
  padding:0;
  width: 10%;
}
#nav a:link, #nav a:visited {
	display:inline-block;
    color: #fff;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    font-family:'Bitter', serif;
}
#nav a:hover, #nav a:active {
    color: #FF9191;
}
#container {
  width: 100%;
  height: 220px;
  background-color: #28292A;
  margin: 0 auto;
}
p a {
  text-decoration: none;

}
#container1 {
  background-color: #FF9191;
  width: 100%;
  height: 600px;
  margin: 0 auto;
}
img.displayed{
  margin-left: 0;
}
.change img {
  width: 30%;
  padding: 0px;
  float: left;
  margin: 20px;
}
.change li{
  list-style: none;
}
li p{
  background-color: #28292A;
  margin: 0;
  padding: 5%;
}
img {
  border-style: none;
}
#container2 {
  width: 100%;
  height: 250px;
  background-color: #111212;
  margin: 0 auto;
}
#footer {
  color: #000;
  font-family: 'Dosis', sans-serif;
  font-weight: lighter;
}

