.introduction, .aside, .footer {
  font-family: 'bitter',serif;
  font-size: 0.8em;
  font-weight: bold;
  color: white;
}


.mainpart a {
  text-decoration: none;
}
.selfintro{
  flex-flow: column;
  text-align: right;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
}
.selfintro{
  display: flex;
  flex-flow: row;
}
/*new addition*/
.navigation{

  list-style-type: none;
  display: block;
  font-size:1.5em;
  line-height:2em;
  padding:0;
  text-align:center;
  display: flex;
  flex-flow:column wrap;
}
/*eli example*/
.nav li{
  border-top:1px solid white;
  border-bottom:1px solid gray;
  background:#fff;
}

.nav a{
  text-decoration: none;
  color: white;
}
/*eli example*/
.mainpart {
  font-family: 'arimo', serif;
  font-size: 0.8em;
  font-weight: bold;
  color: black;
}

.footer{
  background: #e8598c;
}
.introduction{
  background: #1f181b;
}
.aside-1{
  background: #32282b;
}
.aside-2{
  background: #4b3f43;
}
.wrapper{
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  font-weight: bold;
}
.introduction, .aside, .footer{
  flex: 1 100%;
  padding: 10px;
}
.mainpart {
  display: flex;
  flex-flow: column;
}

img {
  width: 400px;
}
.head{
  background:gray;
  width:100%;
  margin:0;
  padding:0;
}
h1{
  font-size:3em;
  font-weight:bold;
  color:white;
  padding:10px;
  text-align:center;
}
.menu-trigger {
  order: 1;
}
.navigation a{
  text-decoration: none;
  display: block;
  padding: 10px;
  color: white;
  text-align: center;
  flex-flow: column;
  justify-content: space-around;
}
.navigation {
  display: none;
}

@media all and (max-width:449px) {
  .paragraph{
    visibility: hidden;
    display: none;
  }

}
@media all and (min-width:450px){

  .head{
    display:flex;
    flex-flow:row nowrap;
  }

  header{
    margin-right:auto;
  }

  .navigation{
    display:flex;
    flex-flow: row;
    justify-content: flex-end;
  }
  .navigation a:hover{
    background: black;
  }

  .mainpart {
    display: flex;
    flex-flow: row nowrap;
  }

  p {
    flex: 1 auto;
  }

  .work{
    flex: 2 auto;
  }
  .work{
    order: 1;
    margin-right:-10px;
  }

  img{
    width:50%;
  }

  .mainpart p{
    order:2;
  }

/*}

@media (min-width:600px) {*/

  .aside{
    flex: 1 auto;
  }
  .introduction{
    flex: 1 0px;
  }
  .aside-1{
    order: 1;
  }
  .main{
    order: 2;
  }
  .aside-2{
    order: 3;
  }
  .footer{
    order: 4;}

  .introduction{
    display: flex;
    flex-flow: row;
  }
  .work{
    width: 50%;
    margin-right: 10px;
  }

}

@media screen and (min-width:700px) {
  nav ul{
    display: flex;
  }
  nav ul li{border-top: none;
  }
  .menu-trigger {
    display: none;
  }

}

@media all and (min-width:800px){
  .head{
    display: flex;
    flex-flow: column;
  }

  header{
    margin-right:0;
  }
  .navigation{
    flex-flow: row;
    justify-content: space-around;
  }
  .navigation a:hover{
    background: black;
  }

  .paragraph{
    max-width:400px;
  }

}
